# Node
node_modules/
npm-debug.log*
yarn.lock
package-lock.json

# Fabric test-network generated stuff (DO NOT PUSH)
test-network/organizations/
test-network/channel-artifacts/
test-network/system-genesis-block/
test-network/*.tar.gz
test-network/logs/
test-network/*.block

# Docker / temp
*.tar
*.gz
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# Fabric binaries & generated stuff
bin/
builders/
config/
test-network/organizations/
test-network/system-genesis-block/
test-network/channel-artifacts/
test-network/ledgerdata/
test-network/logs/
test-network/*.tar.gz
test-network/*.block
**/node_modules/
**/.env
